

body {
    
    background-color: rgb(40, 158, 123);
  }
  h1 {
    color: rgb(1, 1, 12);
  }
  p {
    color: rgb(15, 11, 11);
  }

  <!-- BOX -->

<style>
    
div {
background-color:seagreen;
width: 600px;
border: 40px seagreen;
padding: 50px;
margin: 100px;

}

</style>
